<body style="margin:0px;">

<div style="height:100px;font-size:200%;background-color:green ;width:100%;border-bottom: 1px solid black">
<h1  style="padding-left:50px;padding-top: 40px; color:white">New Genre</h1>
</div>

<div style="margin-left: 100px;margin-top: 100px;">
<%= render 'form', genre: @genre %>

<%= link_to 'Back', '/admin' %>
</div>
